<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('partial/header') %>
  <%- include('partial/sidebar') %>
  <style>
    .challenge {
      cursor: pointer;
    }
  </style>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <%- include('partial/topbar') %>


      <!-- Begin Page Content -->
      <div class="container-fluid">

        <%- include('partial/flash') %>
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
        </div>

        <!-- Content Row -->
        <div class="row">

          <div class="col-xl-4">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Välj datum</h6>
                <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <input type="date" id="start" name="trip-start" value="2020-06-14" min="2020-06-14" max="2020-06-28">
              </div>
            </div>
          </div>
          <!-- Area Chart -->
          <div class="col-xl-8">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Lediga tider</h6>
                <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <a href="#" class="btn btn-primary btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-flag"></i>
                  </span>
                  <span class="text">16:00</span>
                </a>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xl-12">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Tabellen</h6>
              </div>
              <!-- Card Body -->
              <div class="card-body" style="padding: 0">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th style="width: 10%;" scope="col">#</th>
                      <th scope="col">Lag</th>
                      <th scope="col">M</th>
                      <th scope="col">V</th>
                      <th scope="col">F</th>
                      <th scope="col">Rank</th>
                      <th scope="col">Mot</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for( let i = 0; i < teams.length; i++ ) { %>
                    <tr class="challenge" data-id="<%= teams[i]._id %>">
                      <% if (i === 0) { %>
                      <th scope="row">🏆</th>
                      <% } else if (i === 1) { %>
                      <th scope="row">🥈</th>
                      <% } else if (i === 2) { %>
                      <th scope="row">🥉</th>
                      <% } else { %>
                      <th scope="row"><%= i+1 %></th>
                      <% } %>
                      <td><%= teams[i].name %></td>
                      <td>5</td>
                      <td>5</td>
                      <td>0</td>
                      <td style="font-weight: bold;"><i style="color: green;"
                          class="fas fa-arrow-alt-circle-up"></i>1536</td>
                      <td style="font-weight: bold;"><i class="fas fa-carrot"></i></i> 100</td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <%- include('partial/footer') %>
          </body>

          <script>
            document.querySelectorAll(".challenge").forEach(challengeRow => {
              challengeRow.addEventListener("click", function () {
                var id = challengeRow.getAttribute("data-id");
                challengeClick(id);
              });
            });

            function challengeClick(id) {
              fetch('challenge/'+ id)
                .then(response => response.json())
                .then(data => {
                  document.querySelector("#team-name").textContent = data.team.name;
                  document.querySelector("#team-player1-name").textContent = data.users[0] !== undefined ? data.users[0].profile.name : data.users.profile.name;
                  document.querySelector("#team-player1-name").value = data.users[0] !== undefined ? data.users[0].email : data.users.email;
                  document.querySelector("#team-player2-name").textContent = data.users[1] !== undefined ? data.users[1].profile.name : "";
                  $('#challengeOpponent').modal('show');
                });
            }

          </script>

</html>