<!doctype html>
<html lang="en">

<head>
    <%- include('partial/header') %>
    <%- include('partial/sidebar') %>

    <div class="app-main__outer">
        <div class="app-main__inner">
            <%- include('partial/flash') %>
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header-tab-animation card-header">
                            <div class="card-header-title">
                                <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                                Minuter tränade -&nbsp;<span id="bar-chart-text">Månad</span>
                            </div>
                            <div class="btn-actions-pane-right">
                                <div class="nav">
                                    <a onclick="drawBarGraph(this, 'month')" class="bar-graph-btn ml-1 btn-pill btn-wide border-0 btn-transition active btn btn-outline-primary second-tab-toggle-alt">Månad</a>
                                    <a onclick="drawBarGraph(this, 'total')" class="bar-graph-btn ml-1 btn-pill btn-wide border-0 btn-transition btn btn-outline-primary second-tab-toggle-alt">Total</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tabs-eg-77">
                                    <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                        <div class="widget-chat-wrapper-outer">
                                            <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="bar-chart-container">
                                                <canvas id="myChart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <h6 class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal">
                                        Träningstempo
                                    </h6>
                                    <div class="scroll-area-sm">
                                        <div class="scrollbar-container">
                                            <ul
                                                class="rm-list-borders rm-list-borders-scroll list-group list-group-flush">
                                                <% usersWithWorkouts.forEach(user => { %>
                                                <li class="list-group-item">
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left mr-3">
                                                                <img width="42" class="rounded-circle"
                                                                    src="img/<%= user._id.toString() %>.jpg" alt="">
                                                            </div>
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading"><%= user.name %></div>
                                                            </div>
                                                            <div class="widget-content-right">
                                                                <div class="font-size-xlg text-muted">
                                                                    <span><%= user.timeTrained %></span>
                                                                    <small class="text-success pl-2">
                                                                        <i class="fa fa-angle-up"></i>
                                                                    </small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <% }); %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header">
                            <div class="card-header-title">
                                <i class="header-icon lnr-rocket icon-gradient bg-tempting-azure"> </i>
                                Dina mål -&nbsp;<span id="periodText">Vecka</span>
                            </div>
                            <div class="btn-actions-pane-right">
                                <div class="nav">
                                    <a onclick="drawLineGraph(this, 'week')" class="graph-btn ml-1 btn-pill btn-wide border-0 btn-transition active btn btn-outline-primary second-tab-toggle-alt">Vecka</a>
                                    <a onclick="drawLineGraph(this, 'month')" class="graph-btn ml-1 btn-pill btn-wide border-0 btn-transition btn btn-outline-primary second-tab-toggle-alt">Månad</a>
                                    <a onclick="drawLineGraph(this, 'year')" class="graph-btn ml-1 btn-pill btn-wide border-0 btn-transition btn btn-outline-primary second-tab-toggle-alt">År</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tabs-eg-77">
                                    <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                        <div class="widget-chat-wrapper-outer">
                                            <div id="chart-container" class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                                                <canvas id="goal-chart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="widget-content">
                                                <div class="widget-content-outer">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left">
                                                            <div class="widget-numbers fsize-2 text-muted"><span id="weeklyGoalText"></span>%</div>
                                                        </div>
                                                        <div class="widget-content-right">
                                                            <div class="text-muted opacity-6">Veckomål</div>
                                                        </div>
                                                    </div>
                                                    <div class="widget-progress-wrapper mt-1">
                                                        <div class="progress-bar-sm progress-bar-animated-alt progress">
                                                            <div class="progress-bar" id="weeklyGoalBar" role="progressbar"
                                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                                                style="width: 0%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="widget-content">
                                                <div class="widget-content-outer">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left">
                                                            <div class="widget-numbers fsize-2 text-muted"><span id="monthlyGoalText"></span>%</div>
                                                        </div>
                                                        <div class="widget-content-right">
                                                            <div class="text-muted opacity-6">Månadsmål</div>
                                                        </div>
                                                    </div>
                                                    <div class="widget-progress-wrapper mt-1">
                                                        <div class="progress-bar-sm progress-bar-animated-alt progress">
                                                            <div class="progress-bar" id="monthlyGoalBar" role="progressbar"
                                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                                                style="width: 0%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="widget-content">
                                                <div class="widget-content-outer">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left">
                                                            <div class="widget-numbers fsize-2 text-muted"><span id="yearlyGoalText"></span>%</div>
                                                        </div>
                                                        <div class="widget-content-right">
                                                            <div class="text-muted opacity-6">Årsmål</div>
                                                        </div>
                                                    </div>
                                                    <div class="widget-progress-wrapper mt-1">
                                                        <div class="progress-bar-sm progress-bar-animated-alt progress">
                                                            <div class="progress-bar bg-success" id="yearlyGoalBar" role="progressbar"
                                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                                                style="width: 0%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function fetchStringifyedData() {
            var data = {};
            data['usersWithWorkoutsCurrentMonth'] = '<%- JSON.stringify(usersWithWorkoutsCurrentMonth) %>';
            data['usersWithWorkouts'] = '<%- JSON.stringify(usersWithWorkouts) %>';
            data['workoutsForUser'] = '<%- JSON.stringify(workoutsForUser) %>';
            data['userGoal'] = '<%- JSON.stringify(userGoal) %>';
            return data;
        }
    </script>
    <%- include('partial/footer') %>

</html>