<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" id="createSpot">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="createSpot" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Skapa spot</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="input-group" type="hidden" name='_csrf' , value="<%= _csrf %>">

                    <!-- Marker map -->
                    <style>
                        /* Set the size of the div element that contains the map */
                        #add-marker-map {
                            height: 400px;
                            /* The height is 400 pixels */
                            width: 100%;
                            /* The width is the width of the web page */
                        }
                        .arrow{
                            cursor: pointer;
                        }
                        .red{
                            color:red;
                        }
                        .yellow{
                            color:yellow;
                        }
                        .green{
                            color:green;
                        }
                        .star{
                            cursor: pointer;
                        }
                    </style>
                    </script>
                    <label for="basic-url">Namn på spot</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3"><i class="fas fa-signature"></i></span>
                        </div>
                        <input name="name" type="text" class="form-control" id="basic-url" placeholder="Namn på spot"
                            aria-describedby="basic-addon3">
                    </div>

                    <label for="basic-url">Koordinater</label>
                    <br>
                    <small class="text-danger"><i class="fas fa-exclamation-triangle"></i> Sätt ut pin på kartan för att
                        markera
                        spotten</small>
                    <!-- Karta -->
                    <div id="add-marker-map"></div>
                    <input type="hidden" name="coordinatesLat">
                    <input type="hidden" name="coordinatesLng">
                    <hr>
                    <!-- Launchvänligt -->
                    <div class="row">
                        <div class="col-xl-6">
                            Launchvänligt
                        </div>
                        <input type="hidden" name="launchFriendly">
                        <div style="text-align: right;" class="col-xl-6">
                            <em>(<span id="launchFriendlyText">0</span>/10)</em>
                            <% for( let i = 0; i < 10; i++ ) { %>
                            <i data-launchFriendlyValue=<%= i %> class="star far fa-star" class="launchFriendly-click"
                                onclick="starClick(this, 'launchFriendly')"></i>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <!-- Långgrunt -->
                    <div class="row">
                        <div class="col-xl-6">
                            Långgrunt
                        </div>
                        <input type="hidden" name="shallow">
                        <div style="text-align: right;" class="col-xl-6">
                            <em>(<span id="shallowText">0</span>/10)</em>
                            <% for( let i = 0; i < 10; i++ ) { %>
                            <i data-shallowValue=<%= i %> class="star far fa-star" class="shallow-click"
                                onclick="starClick(this, 'shallow')"></i>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <!-- Vågor -->
                    <div class="row">
                        <div class="col-xl-6">
                            Vågor
                        </div>
                        <input type="hidden" name="waves">
                        <div style="text-align: right;" class="col-xl-6">
                            <em>(<span id="wavesText">0</span>/10)</em>
                            <% for( let i = 0; i < 10; i++ ) { %>
                            <i data-wavesValue=<%= i %> class="star far fa-star" class="waves-click"
                                onclick="starClick(this, 'waves')"></i>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <!-- Tillgänglighet -->
                    <div class="row">
                        <div class="col-xl-6">
                            Tillgänglighet
                        </div>
                        <input type="hidden" name="accesibility">
                        <div style="text-align: right;" class="col-xl-6">
                            <em>(<span id="accesibilityText">0</span>/10)</em>
                            <% for( let i = 0; i < 10; i++ ) { %>
                            <i data-accesibilityValue=<%= i %> class="star far fa-star" class="accesibility-click"
                                onclick="starClick(this, 'accesibility')"></i>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xl-12">
                            Vindriktningar
                            <br>
                            <small class="text-danger"><i class="fas fa-exclamation-triangle"></i> Klicka på pilen för att ändra hur bra riktningen är på spoten</small>
                            <div class="arrow-container" style="text-align: center;font-size: 2rem; margin-top: 5px; padding: 1rem; border: 1px solid rgba(0,0,0,.1); border-radius: 5px;">
                                <div class="n-arrow">
                                    <i data-value="0" id="N-arrow" onclick="arrowClick(this)" class="arrow red fas fa-arrow-alt-circle-down"></i>
                                    <input type="hidden" value="0" name="N-arrow">
                                </div>
                                <div class="nw-ne-arrow">
                                    <i data-value="0" id="NE-arrow" onclick="arrowClick(this)" class="arrow red fas fa-arrow-alt-circle-right" style="transform: rotate(45deg);margin-right: 80px;"></i>
                                    <input type="hidden" value="0" name="NE-arrow">
                                    <i data-value="0" id="NW-arrow" onclick="arrowClick(this)" class="arrow red fas fa-arrow-alt-circle-left" style="transform: rotate(-45deg);"></i>
                                    <input type="hidden" value="0" name="NW-arrow">
                                </div>
                                <div class="w-e-arrow">
                                    <i data-value="0" id="W-arrow" onclick="arrowClick(this)" class="arrow red fas fa-arrow-alt-circle-right" style="margin-right: 160px;"></i>
                                    <input type="hidden" value="0" name="W-arrow">
                                    <i data-value="0" id="E-arrow" onclick="arrowClick(this)" class="arrow red fas fa-arrow-alt-circle-left"></i>
                                    <input type="hidden" value="0" name="E-arrow">
                                </div>
                                <div class="sw-se-arrow">
                                    <i data-value="0" id="SW-arrow" onclick="arrowClick(this)" class="arrow red fas fa-arrow-alt-circle-right" style="transform: rotate(-45deg);margin-right: 80px;"></i>
                                    <input type="hidden" value="0" name="SW-arrow">
                                    <i data-value="0" id="SE-arrow" onclick="arrowClick(this)" class="arrow red fas fa-arrow-alt-circle-left" style="transform: rotate(45deg);"></i>
                                    <input type="hidden" value="0" name="SE-arrow">
                                </div>
                                <div class="s-arrow">
                                    <i data-value="0" id="S-arrow" onclick="arrowClick(this)" class="arrow red fas fa-arrow-alt-circle-up"></i>
                                    <input type="hidden" value="0" name="S-arrow">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Beskrivning</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" name="description"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Skapa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function starClick(e, attributeType) {
        var numberClicked = parseInt(e.getAttribute(`data-${attributeType}Value`));
        document.querySelector(`#${attributeType}Text`).textContent = numberClicked + 1;
        document.querySelector(`[name='${attributeType}']`).value = numberClicked + 1;
        for (let i = 0; i < 10; i++) {
            if (numberClicked >= i) {
                document.querySelector(`[data-${attributeType}Value='${i}']`).classList.remove("far");
                document.querySelector(`[data-${attributeType}Value='${i}']`).classList.add("fas");
            }
            else {
                document.querySelector(`[data-${attributeType}Value='${i}']`).classList.remove("fas");
                document.querySelector(`[data-${attributeType}Value='${i}']`).classList.add("far");
            }
        }
    }

    function arrowClick(e) {
        var directionClicked = e.getAttribute("id");
        var currentArrowValue = parseInt(e.getAttribute("data-value"));
        var input = document.querySelector(`input[name="${directionClicked}"]`);
        
        if(currentArrowValue < 2){
            input.value = currentArrowValue + 1;
            e.setAttribute("data-value", currentArrowValue + 1);
        } else{
            e.setAttribute("data-value", 0);
            input.value = 0;
        }
        switch (parseInt(input.value)) {
            case 0:
                e.classList.remove("green");
                e.classList.add("red");
                break;
            case 1:
                e.classList.remove("red");
                e.classList.add("yellow");
                break;
            case 2:
                e.classList.remove("yellow");
                e.classList.add("green");
                break;
        
            default:
                break;
        }
    }

</script>