<!doctype html>
<html lang="en">
    <head>
        <%- include('partial/header') %>
        <%- include('partial/sidebar') %>

                <div class="app-main__outer">
                    <div class="app-main__inner">
                        <div class="app-page-title">
                            <div class="page-title-wrapper">
                                <div class="page-title-heading">
                                    <div class="page-title-icon">
                                        <i class="metismenu-icon pe-7s-pen icon-gradient bg-mean-fruit"></i>
                                    </div>
                                    
                                    <div>
                                        <span class="mobile-title-icon"><i class="metismenu-icon pe-7s-pen icon-gradient bg-mean-fruit"></i></span> Registrera
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include('partial/flash') %>
                        <div class="row">
                            <div class="col-md-12 col-lg-">
                                <div class="tab-content">
                                    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                                        <div class="main-card mb-3 card">
                                            <div class="card-body"><h5 class="card-title">Dagens pass</h5>
                                                <form action="postworkout" method="post">
                                                    <table class="mb-0 table table-striped" id="dailyRoutineTable">
                                                        <thead>
                                                        <tr>
                                                            <th>Övning</th>
                                                            <th>Grupp</th>
                                                            <th>Video</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% dailyRoutine.exersices.forEach(exercise => { %>
                                                                <tr>
                                                                    <td><%= exercise['Name'] %></td>
                                                                    <td><%= exercise['Group'] %></td>
                                                                    <td><a target="_blank" href="<%= exercise['Ref'] %>">Länk</a></td>
                                                                </tr>
                                                            <% }) %>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <br>
                                                    <div class="checkbox-container">
                                                        <input type="checkbox" name="chooseOtherDate" id="chooseOtherDate">
                                                        <label for="chooseOtherDate">Välj en annan dags pass</label>
                                                    </div>
                                                    
                                                    <div class="date-container" style="display: none;">
                                                        <input type="date" value="<%= date.today %>" min="<%= date.firstAvailableDate %>" max="<%= date.today %>" id="datepickerAnotherday" class="form-control">
                                                    </div>
                                                    <hr>
                                                    <div class="position-relative form-group"><label for="workoutRounds">Antal omgångar</label><input name="workoutRounds" id="workoutRounds" placeholder="Ange antal omgångar" type="number" class="form-control"  min="1" max="5" required></div>
                                                    <input type="hidden" name='_csrf' , value="<%= _csrf %>">
                                                    <input type="hidden" id="dailyRoutineId" name="dailyRoutineId" value="<%= dailyRoutine._id %>">
                                                    <input type="hidden" name="userId" value="<%= user._id %>">
                                                    <button type="submit" id='saveBtn' style="display: none;" class="btn btn-success"><i class="fas fa-save"></i> Registera passet</button>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var saveButton = document.querySelector('#saveBtn');

                    // saveButton.addEventListener('click', function() {
                    //     this.disabled = true;
                    // });

                    document.querySelector('#workoutRounds').addEventListener('keyup', function() {
                        if(this.value > 0){
                            saveButton.style.display = '';
                        }
                    });
                    
                    document.querySelector('#chooseOtherDate').addEventListener('change', (event) => {
                        if (event.currentTarget.checked) {
                            document.querySelector('.date-container').style.display = "";
                        } else {
                            document.querySelector('.date-container').style.display = "none";
                        }
                    })

                    document.querySelector('#datepickerAnotherday').addEventListener('change', (event) => {
                        let dateSelected = event.target.value;

                        const headers = {
                            'Content-Type': 'x-www-form-urlencoded',
                            'X-CSRF-TOKEN': document.querySelector('input[name="_csrf"]').value
                        };

                        var url = '/otherDateOfWorkout/?date=' + dateSelected;
                        
                        fetch(url, {
                            method: 'POST',
                            headers,
                            credentials: 'include',
                        })
                        .then(response => response.json())
                        .then(data => {
                            document.querySelector("#dailyRoutineTable").children[1].innerHTML = insertOtherDailyRoutine(data);
                            debugger;
                            document.querySelector("#dailyRoutineId").value = data._id;
                        });

                    })

                    function insertOtherDailyRoutine(data) {
                        let routineHtml = "";
                        data.exersices.forEach(exersice => {
                            routineHtml = `${routineHtml}<tr><td>${exersice.Name}</td><td>${exersice.Group}</td><td><a target="_blank" href="${exersice.Ref}">Länk</a></td></tr>`;
                        });
                        return routineHtml;
                    }
                </script>
            <%- include('partial/footer') %>
</html>
