extends layout

block content
  style(type="text/css").
    .input {
      border: #ccc 1px solid;
      padding: 10px;
      margin: 2px;
      border-radius: 5px;
      background: #fafffa;
    }
  h1 Registrera match
  hr
  form(method='POST' action='/register')
    input(type='hidden' name='_csrf', value=_csrf)
    div.form-group
      div
        label(for='game') Välj spel:
        select#game.form-control(name='game')
          each val in allGames
            option(value=val.id) #{val.name}
      div.input
        label(for='player1') Spelare 1:
        select#player1.form-control(name='player1')
          each val in allUsers
            option(value=val.id) #{val.username}
        label(for='player1result') Spelare 1 - Resultat:
        input#player1result.form-control(type="number" name="player1result")
      
      div.input
        label(for='player2') Spelare 2:
        select#player2.form-control(name='player2')
          each val in allUsers
            option(value=val.id) #{val.username}
        label(for='player2result') Spelare 2 - Resultat:
        input#player2result.form-control(type="number" name="player2result")

      div.input(style={display: 'none'})
        label(for='player3') Spelare 3:
        select#player3.form-control(name='player3')
          each val in allUsers
            option(value=val.id) #{val.username}
        label(for='player3result') Spelare 3 - Resultat:
        input#player3result.form-control(type="number" name="player3result")
      
      div.input(style={display: 'none'})
        label(for='player4') Spelare 4:
        select#player4.form-control(name='player4')
          each val in allUsers
            option(value=val.id) #{val.username}
        label(for='player4result') Spelare 4 - Resultat:
        input#player4result.form-control(type="number" name="player4result")
      
      div.input(style={display: 'none'})
        label(for='player5') Spelare 5:
        select#player5.form-control(name='player5')
          each val in allUsers
            option(value=val.id) #{val.username}
        label(for='player5result') Spelare 5 - Resultat:
        input#player5result.form-control(type="number" name="player5result")

      div.input(style={display: 'none'})
        label(for='player6') Spelare 6:
        select#player6.form-control(name='player6')
          each val in allUsers
            option(value=val.id) #{val.username}
        label(for='player6result') Spelare 6 - Resultat:
        input#player6result.form-control(type="number" name="player6result")

      div.input(style={display: 'none'})
        label(for='player7') Spelare 7:
        select#player7.form-control(name='player7')
          each val in allUsers
            option(value=val.id) #{val.username}
        label(for='player7result') Spelare 7 - Resultat:
        input#player7result.form-control(type="number" name="player7result")

      div.input(style={display: 'none'})
        label(for='player8') Spelare 8:
        select#player8.form-control(name='player8')
          each val in allUsers
            option(value=val.id) #{val.username}
        label(for='player8result') Spelare 8 - Resultat:
        input#player8result.form-control(type="number" name="player8result")
        
    button.btn.btn-success(type='submit') Registrera
    button#addPlayers.btn.btn-primary(type='button') Fler spelare
    script(src='/js/addPlayers.js')
