<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('partial/header') %>
  <%- include('partial/sidebar') %>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <%- include('partial/topbar') %>


      <!-- Begin Page Content -->
      <div class="container-fluid">

        <%- include('partial/flash') %>

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
        </div>

        <!-- Content Row -->

        <div class="row">
          <div class="col-xl-12">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Dina lag</h6>
                <a href="#" class="btn btn-success btn-icon-split" data-toggle="modal" data-target="#createTeam">
                  <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                  </span>
                  <span class="text">Skapa lag</span>
                </a>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <% if (teams.length === 0) { %>
                  Inga lag registrerade
                <% } else { %>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                          <th scope="col">Lagnamn</th>
                          <th scope="col">Spelare 1</th>
                          <th scope="col">Spelare 2</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% teams.forEach(team => { %>
                          <tr>
                            <td><%= team.name %></td>
                            <% users.forEach(user => { %>
                             <% if (user._id.toString() === team.player1.toString()) { %>
                              <td><%= user.profile.name %></td>
                             <% } %>
                             <% if (user._id.toString() === team.player2.toString()) { %>
                              <td><%= user.profile.name %></td>
                            <% } else { %>
                              <td></td>
                            <% } %>
                            <% }) %></td>
                          </tr>
                        <% }) %>
                      </tbody>
                    </table>
                <% } %>

              </div>
            </div>
          </div>

          <%- include('partial/footer') %>
          </body>

</html>